---
import '#/styles/article.css'

import type { CollectionEntry } from 'astro:content'
import { render } from 'astro:content'
import { getCollection } from 'astro:content'
import type { GetStaticPaths } from 'astro'

import Card from '#/components/Card.astro'
import Icon from '#/components/Icon.astro'
import ImageGlow from '#/components/ImageGlow.astro'
import { buildGiscusScriptHtml } from '#/giscus'
import Layout from '#/layouts/Layout.astro'

interface Props {
	model: CollectionEntry<'models'>
}

const { model } = Astro.props

export const getStaticPaths = (async () => {
	const models = await getCollection('models')

	return models.map((model) => ({ params: { model: model.id }, props: { model } }))
}) satisfies GetStaticPaths

const { Content } = await render(model)
---
<Layout
  title={model.data.title}
  description={model.data.description}
  image={model.data.image}
  article={{
    createdAt: model.data.date,
  }}
>
  <div class="left" slot="left">
    <Card class="toc-card">
      <h2 class="no-mt">tl;dr</h2>
      <ul class="overview-list">
        {model.data.info.map((info) => {
          const Tag = info.link ? 'a' : 'div';
          return (
            <li>
              <Tag href={info.link} class='model-info-item'>
                <Icon type={info.icon.type} name={info.icon.name as any} width={24} height={24} class='glow-icon' />
                <span>{info.text}</span>
              </Tag>
            </li>
          )
        })}
      </ul>
    </Card>
  </div>
  <article slot="right" data-pagefind-body>
    <Card>
      <div class="article-header" id="_top" data-pagefind-ignore>
        {model.data.image && <ImageGlow quality={100} class="article-image" src={model.data.image} alt={model.data.title} />}
        <div class="header">
          <div>
            <h1 class="no-mt article-h1">{model.data.title}</h1>
          </div>
          <div class="article-info">
            <span>{model.data.date.toLocaleDateString()}</span>
          </div>
        </div>
      </div>
      <Content />
      <hr class="end-of-article" />
      <a href="/models" class="block-link" data-pagefind-ignore>← All models</a>
    </Card>


    <Card>
      <div class="comments" data-pagefind-ignore set:html={buildGiscusScriptHtml()} />
    </Card>
  </article>
</Layout>
<style>
  .model-info-item {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .comments * {
    border-color: #353535 !important;
  }
</style>
